<!doctype html>

<html lang="en">
  <head>
  <title>Ely's Ramblings on code and design</title>
  <style type="text/css">
    body { padding:10px}
  </style>
  </head>
  <body>
    <div class="container">
      {{>body}}
    </div>
    <div class="sidebar">
      {{>sidebar}}
    </div>
  </body>
  

</html>
